<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Değirmen</title>
     
    <link rel="stylesheet" href="{% static 'css/dropzone.css' %}">
    <link rel="stylesheet" href="{% static 'css/css.css' %}">
    
    
    
    
    
</head>
<body>
    <div class="container my-5">
        <div class="row row-cols-1">
            <div class="col text-center mb-4">
                <p class="h1 mb-0 brand text-primary">
                    <a href="#" class="text-decoration-none">DEĞİRMEN</a>
                </p>
            </div>
        </div>
    </div>
    <div class="container-fluid mt-5">
        <div class="row ">
            <div class="col-md-8 offset-md-2">
                <h3 class="mb-4 text-center">dosya bırakma alanı</h3>
                <form action="{% url 'homePage' %}" method="post" enctype="multipart/form-data" class="dropzone" aria-placeholder="deneme" id="myDropzone">
                    {% csrf_token %}
                </form>
            </div>
        </div>
    </div>
   
    
    <script src="{% static 'js/bootstrap.min.js' %}"></script> 
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>  
    <script src="{% static 'js/dropzone.js' %}"></script>
    
</body>
</html>



